html,body
{
    margin: 0;
}
.bg-background
{
    background-color: lightgreen;
}
.round-card
{
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    bottom: 20px;
    height:40rem;
    width: 50%;
}
.round-card-list
{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    bottom: 20px;
    height:2rem;
    width: 100%;
    background-color: aqua;
    border: none;
}
.card-padding
{
    padding: 60px 100px;

}
.text-padding
{
    margin-top: -.8em;
}
.text-list
{
    color: black;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.todo-title
{
    font-size: x-large;
    font: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.todo-subtitle
{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
.todo-input
{
    width: 100%;
    padding-right: 5px;
}
.button-submit
{
    padding-left: 5px;
}